<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @weixin_image.image_url if @weixin_image.image.present? %>
</p>

<%= link_to 'Edit', edit_weixin_image_path(@weixin_image) %> |
<%= link_to 'Back', weixin_images_path %>
